<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="back()" slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{texts.heder[currentLang]}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content translucent>
  <div>
    <ion-text class="ion-text-start ion-padding">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloremque consectetur cumque praesentium, incidunt nam, ipsum reprehenderit, laboriosam dolore culpa omnis. Maiores, aliquid! Repudiandae aut dolore, vero blanditiis doloremque odio.
    </ion-text>
  </div>
</ion-content>
